In [2]:
import pandas as pd

In [3]:
transport_emp_df = pd.read_csv("ETL_CSV_Files/Transportation_Employment.csv")
transport_emp_df.head()

,Index,Date,Transportation Employment - Pipeline Transportation,Transportation Employment - Water Transportation,Transportation Employment - Rail Transportation,Transportation Employment - Air Transportation,Transportation Employment - Transit and ground passenger transportation,Transportation Employment - Truck Transportation,Unemployment Rate - Seasonally Adjusted,Labor Force Participation Rate - Seasonally Adjusted,Unemployed - Seasonally Adjusted
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
highway_df = pd.read_csv("ETL_CSV_Files/Highway_Vehicle_Miles_Traveled.csv")
highway_df.head()

,Index,Date,Highway Vehicle Miles Traveled - All Systems,Highway Vehicle Miles Traveled - Total Rural,Highway Vehicle Miles Traveled - Other Rural,Highway Vehicle Miles Traveled - Rural Other Arterial,Highway Vehicle Miles Traveled - Rural Interstate
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN

In [5]:
pers_spend_df = pd.read_csv("ETL_CSV_Files/Personal_Spending.csv")
pers_spend_df.head()

,Index,Date,Personal Spending on Transportation - Transportation Services - Seasonally Adjusted,Personal Spending on Transportation - Gasoline and Other Energy Goods - Seasonally Adjusted,Personal Spending on Transportation - Motor Vehicles and Parts - Seasonally Adjusted
0,0,1/1/1947 0:00,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN

In [6]:
rail_df = pd.read_csv("ETL_CSV_Files/Rail.csv")
rail_df.head()

,Index,Date,Passenger Rail Passengers,Passenger Rail Passenger Miles,Passenger Rail Total Train Miles,Passenger Rail Employee Hours Worked,Passenger Rail Yard Switching Miles,Passenger Rail Total Reports
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
air_df = pd.read_csv("ETL_CSV_Files/US_Air.csv")
air_df.head()

,Index,Date,U.S. Airline Traffic - Total - Seasonally Adjusted,U.S. Airline Traffic - International - Seasonally Adjusted,U.S. Airline Traffic - Domestic - Seasonally Adjusted,U.S. Air Carrier Cargo (millions of revenue ton-miles) - International,U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN