In [1]:
import pandas as pd
import datetime as dt

In [2]:
transport_emp_df = pd.read_csv("ETL_CSV_Files/Transportation_Employment.csv")
transport_emp_df

,Index,Date,Transportation Employment - Pipeline Transportation,Transportation Employment - Water Transportation,Transportation Employment - Rail Transportation,Transportation Employment - Air Transportation,Transportation Employment - Transit and ground passenger transportation,Transportation Employment - Truck Transportation,Unemployment Rate - Seasonally Adjusted,Labor Force Participation Rate - Seasonally Adjusted,Unemployed - Seasonally Adjusted
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
879,736,5/1/2008 0:00,41500.0,67200.0,196600.0,498400.0,449100.0,1405100.0,0.054,0.661,8395000.0
880,735,4/1/2008 0:00,40400.0,65500.0,195900.0,499700.0,448100.0,1394400.0,0.050,0.659,7637000.0
881,734,3/1/2008 0:00,40500.0,62800.0,194600.0,502500.0,440800.0,1389800.0,0.051,0.661,7822000.0
882,733,2/1/2008 0:00,40400.0,63200.0,194300.0,501800.0,439900.0,1377300.0,0.049,0.660,7497000.0
883,732,1/1/2008 0:00,40300.0,65100.0,194200.0,499000.0,437000.0,1391900.0,0.050,0.662,7685000.0

In [3]:
transport_emp_df.dtypes

Index                                                                        int64
Date                                                                        object
Transportation Employment - Pipeline Transportation                        float64
Transportation Employment - Water Transportation                           float64
Transportation Employment - Rail Transportation                            float64
Transportation Employment - Air Transportation                             float64
Transportation Employment - Transit and ground passenger transportation    float64
Transportation Employment - Truck Transportation                           float64
Unemployment Rate - Seasonally Adjusted                                    float64
Labor Force Participation Rate - Seasonally Adjusted                       float64
Unemployed - Seasonally Adjusted                                           float64
dtype: object

In [10]:
transport_emp_df['Date'] = pd.to_datetime(transport_emp_df['Date'])
transport_emp_df['Date']

0     1947-01-01
1     1947-02-01
2     1947-03-01
3     1947-04-01
4     1947-05-01
         ...
879   2008-05-01
880   2008-04-01
881   2008-03-01
882   2008-02-01
883   2008-01-01
Name: Date, Length: 884, dtype: datetime64[ns]

In [8]:
transport_emp_df.dtypes

Index                                                                               int64
Date                                                                       datetime64[ns]
Transportation Employment - Pipeline Transportation                               float64
Transportation Employment - Water Transportation                                  float64
Transportation Employment - Rail Transportation                                   float64
Transportation Employment - Air Transportation                                    float64
Transportation Employment - Transit and ground passenger transportation           float64
Transportation Employment - Truck Transportation                                  float64
Unemployment Rate - Seasonally Adjusted                                           float64
Labor Force Participation Rate - Seasonally Adjusted                              float64
Unemployed - Seasonally Adjusted                                                  float64
dtype: object

In [12]:
transport_emp_df.loc[transport_emp_df['Date']>='2010-1-1']

,Index,Date,Transportation Employment - Pipeline Transportation,Transportation Employment - Water Transportation,Transportation Employment - Rail Transportation,Transportation Employment - Air Transportation,Transportation Employment - Transit and ground passenger transportation,Transportation Employment - Truck Transportation,Unemployment Rate - Seasonally Adjusted,Labor Force Participation Rate - Seasonally Adjusted,Unemployed - Seasonally Adjusted
732,883,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,882,2020-07-01,49700.0,58100.0,142000.0,398600.0,271400.0,1457100.0,0.102,0.614,16338000.0
734,881,2020-06-01,50000.0,57200.0,144600.0,382200.0,307000.0,1449600.0,0.111,0.615,17750000.0
735,880,2020-05-01,50400.0,57100.0,148000.0,385300.0,328900.0,1430000.0,0.133,0.608,20985000.0
736,879,2020-04-01,50500.0,57900.0,154900.0,432700.0,331300.0,1414600.0,0.147,0.602,23078000.0
...,...,...,...,...,...,...,...,...,...,...,...
855,760,2010-05-01,41700.0,62500.0,180300.0,460500.0,445700.0,1238700.0,0.096,0.649,14849000.0
856,759,2010-04-01,42400.0,60500.0,179700.0,461300.0,443400.0,1220700.0,0.099,0.652,15325000.0
857,758,2010-03-01,42400.0,60300.0,178300.0,461700.0,442800.0,1208300.0,0.099,0.649,15202000.0
858,757,2010-02-01,43500.0,58100.0,177300.0,461500.0,435800.0,1200300.0,0.098,0.649,15113000.0
859,756,2010-01-01,43400.0,60700.0,177200.0,459600.0,437200.0,1208100.0,0.098,0.648,15046000.0

In [14]:
highway_df = pd.read_csv("ETL_CSV_Files/Highway_Vehicle_Miles_Traveled.csv")
highway_df.head()

,Index,Date,Highway Vehicle Miles Traveled - All Systems,Highway Vehicle Miles Traveled - Total Rural,Highway Vehicle Miles Traveled - Other Rural,Highway Vehicle Miles Traveled - Rural Other Arterial,Highway Vehicle Miles Traveled - Rural Interstate
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN

In [15]:
highway_df['Date'] = pd.to_datetime(highway_df['Date'])
highway_df['Date']

0     1947-01-01
1     1947-02-01
2     1947-03-01
3     1947-04-01
4     1947-05-01
         ...
879   2008-05-01
880   2008-04-01
881   2008-03-01
882   2008-02-01
883   2008-01-01
Name: Date, Length: 884, dtype: datetime64[ns]

In [17]:
highway_df.loc[highway_df['Date']>='2018-1-1']

,Index,Date,Highway Vehicle Miles Traveled - All Systems,Highway Vehicle Miles Traveled - Total Rural,Highway Vehicle Miles Traveled - Other Rural,Highway Vehicle Miles Traveled - Rural Other Arterial,Highway Vehicle Miles Traveled - Rural Interstate
732,883,2020-08-01,NaN,NaN,NaN,NaN,NaN
733,882,2020-07-01,NaN,NaN,NaN,NaN,NaN
734,881,2020-06-01,NaN,NaN,NaN,NaN,NaN
735,880,2020-05-01,NaN,NaN,NaN,NaN,NaN
736,879,2020-04-01,NaN,NaN,NaN,NaN,NaN
737,878,2020-03-01,NaN,NaN,NaN,NaN,NaN
738,877,2020-02-01,NaN,NaN,NaN,NaN,NaN
739,876,2020-01-01,NaN,NaN,NaN,NaN,NaN
740,875,2019-12-01,2.740000e+11,8.039500e+10,2.748300e+10,3.125700e+10,2.165400e+10
741,874,2019-11-01,2.600000e+11,7.756300e+10,2.680900e+10,3.030200e+10,2.045200e+10
742,873,2019-10-01,2.840000e+11,8.676500e+10,3.040200e+10,3.395700e+10,2.240600e+10
743,872,2019-09-01,2.720000e+11,8.364200e+10,2.924800e+10,3.291200e+10,2.148200e+10
744,871,2019-08-01,2.870000e+11,9.078700e+10,3.138000e+10,3.521500e+10,2.419200e+10
745,870,2019-07-01,2.960000e+11,9.481500e+10,3.273200e+10,3.666600e+10,2.541700e+10
746,869,2019-06-01,2.810000e+11,8.738400e+10,3.052500e+10,3.385800e+10,2.300200e+10
747,868,2019-05-01,2.860000e+11,8.750000e+10,3.068700e+10,3.364500e+10,2.316700e+10
748,867,2019-04-01,2.820000e+11,8.439400e+10,3.005000e+10,3.226900e+10,2.207500e+10
749,866,2019-03-01,2.720000e+11,7.992800e+10,2.797700e+10,3.101200e+10,2.093900e+10
750,865,2019-02-01,2.270000e+11,6.527700e+10,2.276400e+10,2.566200e+10,1.685100e+10
751,864,2019-01-01,2.480000e+11,7.145000e+10,2.510100e+10,2.761500e+10,1.873400e+10
752,863,2018-12-01,2.700000e+11,7.868200e+10,2.709700e+10,3.058300e+10,2.100200e+10
753,862,2018-11-01,2.600000e+11,7.768700e+10,2.666200e+10,3.027700e+10,2.074700e+10
754,861,2018-10-01,2.810000e+11,8.557500e+10,2.995000e+10,3.349900e+10,2.212600e+10
755,860,2018-09-01,2.670000e+11,8.224500e+10,2.867500e+10,3.228400e+10,2.128600e+10
756,859,2018-08-01,2.850000e+11,8.967100e+10,3.104400e+10,3.478200e+10,2.384500e+10
757,858,2018-07-01,2.910000e+11,9.340000e+10,3.212800e+10,3.612700e+10,2.514500e+10
758,857,2018-06-01,2.830000e+11,8.742700e+10,3.074200e+10,3.381700e+10,2.286800e+10
759,856,2018-05-01,2.840000e+11,8.661200e+10,3.056200e+10,3.328800e+10,2.276200e+10
760,855,2018-04-01,2.750000e+11,8.196100e+10,2.924300e+10,3.125100e+10,2.146600e+10
761,854,2018-03-01,2.710000e+11,7.969000e+10,2.806900e+10,3.086700e+10,2.075500e+10
762,853,2018-02-01,2.280000e+11,6.550000e+10,2.295800e+10,2.568200e+10,1.686000e+10
763,852,2018-01-01,2.450000e+11,7.035100e+10,2.490100e+10,2.707200e+10,1.837800e+10

In [19]:
pers_spend_df = pd.read_csv("ETL_CSV_Files/Personal_Spending.csv")
pers_spend_df.head()

,Index,Date,Personal Spending on Transportation - Transportation Services - Seasonally Adjusted,Personal Spending on Transportation - Gasoline and Other Energy Goods - Seasonally Adjusted,Personal Spending on Transportation - Motor Vehicles and Parts - Seasonally Adjusted
0,0,1/1/1947 0:00,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN

In [20]:
pers_spend_df['Date'] = pd.to_datetime(pers_spend_df['Date'])
pers_spend_df['Date']

0     1947-01-01
1     1947-02-01
2     1947-03-01
3     1947-04-01
4     1947-05-01
         ...
879   2008-05-01
880   2008-04-01
881   2008-03-01
882   2008-02-01
883   2008-01-01
Name: Date, Length: 884, dtype: datetime64[ns]

In [22]:
pers_spend_df.loc[pers_spend_df['Date']>='2010-1-1']

,Index,Date,Personal Spending on Transportation - Transportation Services - Seasonally Adjusted,Personal Spending on Transportation - Gasoline and Other Energy Goods - Seasonally Adjusted,Personal Spending on Transportation - Motor Vehicles and Parts - Seasonally Adjusted
732,883,2020-08-01,NaN,NaN,NaN
733,882,2020-07-01,NaN,NaN,NaN
734,881,2020-06-01,NaN,NaN,NaN
735,880,2020-05-01,NaN,NaN,NaN
736,879,2020-04-01,2.630000e+11,3.460000e+11,5.030000e+11
...,...,...,...,...,...
855,760,2010-05-01,NaN,NaN,NaN
856,759,2010-04-01,3.180000e+11,4.380000e+11,3.570000e+11
857,758,2010-03-01,NaN,NaN,NaN
858,757,2010-02-01,NaN,NaN,NaN
859,756,2010-01-01,3.200000e+11,4.330000e+11,3.370000e+11

In [23]:
rail_df = pd.read_csv("ETL_CSV_Files/Rail.csv")
rail_df.head()

,Index,Date,Passenger Rail Passengers,Passenger Rail Passenger Miles,Passenger Rail Total Train Miles,Passenger Rail Employee Hours Worked,Passenger Rail Yard Switching Miles,Passenger Rail Total Reports
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
rail_df['Date'] = pd.to_datetime(rail_df['Date'])
rail_df['Date']

0     1947-01-01
1     1947-02-01
2     1947-03-01
3     1947-04-01
4     1947-05-01
         ...
879   2008-05-01
880   2008-04-01
881   2008-03-01
882   2008-02-01
883   2008-01-01
Name: Date, Length: 884, dtype: datetime64[ns]

In [25]:
rail_df.loc[rail_df['Date']>='2010-1-1']

,Index,Date,Passenger Rail Passengers,Passenger Rail Passenger Miles,Passenger Rail Total Train Miles,Passenger Rail Employee Hours Worked,Passenger Rail Yard Switching Miles,Passenger Rail Total Reports
732,883,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN
733,882,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN
734,881,2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN
735,880,2020-05-01,213983.0,69098462.0,2037397.0,2745323.0,128937.0,2.0
736,879,2020-04-01,121154.0,36018048.0,2070618.0,2745367.0,121903.0,2.0
...,...,...,...,...,...,...,...,...
855,760,2010-05-01,2503651.0,544408276.0,3518013.0,3451013.0,209347.0,2.0
856,759,2010-04-01,2446113.0,520013629.0,3451608.0,3478591.0,205893.0,2.0
857,758,2010-03-01,2474908.0,538675366.0,3560237.0,3629837.0,212974.0,2.0
858,757,2010-02-01,1951901.0,405905875.0,3088012.0,3122066.0,192744.0,2.0
859,756,2010-01-01,2032892.0,440854078.0,3521094.0,3377882.0,225554.0,2.0

In [26]:
air_df = pd.read_csv("ETL_CSV_Files/US_Air.csv")
air_df.head()

,Index,Date,U.S. Airline Traffic - Total - Seasonally Adjusted,U.S. Airline Traffic - International - Seasonally Adjusted,U.S. Airline Traffic - Domestic - Seasonally Adjusted,U.S. Air Carrier Cargo (millions of revenue ton-miles) - International,U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic
0,0,1/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
1,1,2/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
2,2,3/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
3,3,4/1/1947 0:00,NaN,NaN,NaN,NaN,NaN
4,4,5/1/1947 0:00,NaN,NaN,NaN,NaN,NaN

In [27]:
air_df['Date'] = pd.to_datetime(air_df['Date'])
air_df['Date']

0     1947-01-01
1     1947-02-01
2     1947-03-01
3     1947-04-01
4     1947-05-01
         ...
879   2008-05-01
880   2008-04-01
881   2008-03-01
882   2008-02-01
883   2008-01-01
Name: Date, Length: 884, dtype: datetime64[ns]

In [32]:
air_df.loc[air_df['Date']>='2010-1-1']

,Index,Date,U.S. Airline Traffic - Total - Seasonally Adjusted,U.S. Airline Traffic - International - Seasonally Adjusted,U.S. Airline Traffic - Domestic - Seasonally Adjusted,U.S. Air Carrier Cargo (millions of revenue ton-miles) - International,U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic
732,883,2020-08-01,NaN,NaN,NaN,NaN,NaN
733,882,2020-07-01,NaN,NaN,NaN,NaN,NaN
734,881,2020-06-01,NaN,NaN,NaN,NaN,NaN
735,880,2020-05-01,8420000.0,190000.0,8240000.0,2.228770e+09,1.583861e+09
736,879,2020-04-01,3010000.0,130000.0,2880000.0,2.025803e+09,1.447281e+09
...,...,...,...,...,...,...,...
855,760,2010-05-01,NaN,NaN,NaN,2.062541e+09,1.061358e+09
856,759,2010-04-01,NaN,NaN,NaN,1.913704e+09,1.076585e+09
857,758,2010-03-01,NaN,NaN,NaN,1.971931e+09,1.085023e+09
858,757,2010-02-01,NaN,NaN,NaN,1.638815e+09,9.260431e+08
859,756,2010-01-01,NaN,NaN,NaN,1.651273e+09,9.773350e+08