In [24]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import psycopg2
import numpy as np

In [25]:
transport_emp_df = pd.read_csv("CSVCleanup/Cleaned_Transportation_Employment.csv")
transport_emp_df

,Unnamed: 0,Index,Date,Pipline,Water,Rail,Air,Transit_and_Ground_Passenger_Transportation,Truck,Unemployment_Rate,Labor_Force_Participation_Rate,Unemployed
0,696,696,1/1/2005 0:00,38100.0,55500.0,191000.0,505200.0,407900.0,1348500.0,0.053,0.658,7784000.0
1,697,697,2/1/2005 0:00,37700.0,55100.0,191400.0,503400.0,407700.0,1349000.0,0.054,0.659,7980000.0
2,698,698,3/1/2005 0:00,37600.0,56700.0,191900.0,504200.0,409200.0,1359900.0,0.052,0.659,7737000.0
3,699,699,4/1/2005 0:00,37800.0,59400.0,193300.0,507300.0,413700.0,1377300.0,0.052,0.661,7672000.0
4,700,700,5/1/2005 0:00,37500.0,61100.0,193900.0,507800.0,415300.0,1391700.0,0.051,0.661,7651000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
182,879,736,5/1/2008 0:00,41500.0,67200.0,196600.0,498400.0,449100.0,1405100.0,0.054,0.661,8395000.0
183,880,735,4/1/2008 0:00,40400.0,65500.0,195900.0,499700.0,448100.0,1394400.0,0.050,0.659,7637000.0
184,881,734,3/1/2008 0:00,40500.0,62800.0,194600.0,502500.0,440800.0,1389800.0,0.051,0.661,7822000.0
185,882,733,2/1/2008 0:00,40400.0,63200.0,194300.0,501800.0,439900.0,1377300.0,0.049,0.660,7497000.0
186,883,732,1/1/2008 0:00,40300.0,65100.0,194200.0,499000.0,437000.0,1391900.0,0.050,0.662,7685000.0

In [26]:
transport_emp_df = transport_emp_df.drop(['Unnamed: 0'], axis = 1)

In [27]:
transport_emp_df.dtypes

Index                                            int64
Date                                            object
Pipline                                        float64
Water                                          float64
Rail                                           float64
Air                                            float64
Transit_and_Ground_Passenger_Transportation    float64
Truck                                          float64
Unemployment_Rate                              float64
Labor_Force_Participation_Rate                 float64
Unemployed                                     float64
dtype: object

In [55]:
transport_emp_df[['Pipline', 'Water', 'Rail', 'Air', 'Transit_and_Ground_Passenger_Transportation', 'Truck', 'Unemployed']] = transport_emp_df[['Pipline', 'Water', 'Rail', 'Air', 'Transit_and_Ground_Passenger_Transportation', 'Truck', 'Unemployed']].astype(int)

In [29]:
transport_emp_df['Date'] = pd.to_datetime(transport_emp_df['Date'])
transport_emp_df['Date']

0     2005-01-01
1     2005-02-01
2     2005-03-01
3     2005-04-01
4     2005-05-01
         ...
182   2008-05-01
183   2008-04-01
184   2008-03-01
185   2008-02-01
186   2008-01-01
Name: Date, Length: 187, dtype: datetime64[ns]

In [30]:
transport_emp_df.dtypes

Index                                                   int64
Date                                           datetime64[ns]
Pipline                                                 int32
Water                                                   int32
Rail                                                    int32
Air                                                     int32
Transit_and_Ground_Passenger_Transportation             int32
Truck                                                   int32
Unemployment_Rate                                     float64
Labor_Force_Participation_Rate                        float64
Unemployed                                              int32
dtype: object

In [31]:
transport_emp_df.loc[transport_emp_df['Date']>='2010-1-1']

,Index,Date,Pipline,Water,Rail,Air,Transit_and_Ground_Passenger_Transportation,Truck,Unemployment_Rate,Labor_Force_Participation_Rate,Unemployed
36,882,2020-07-01,49700,58100,142000,398600,271400,1457100,0.102,0.614,16338000
37,881,2020-06-01,50000,57200,144600,382200,307000,1449600,0.111,0.615,17750000
38,880,2020-05-01,50400,57100,148000,385300,328900,1430000,0.133,0.608,20985000
39,879,2020-04-01,50500,57900,154900,432700,331300,1414600,0.147,0.602,23078000
40,878,2020-03-01,51300,62000,159200,510700,515300,1499400,0.044,0.627,7140000
...,...,...,...,...,...,...,...,...,...,...,...
158,760,2010-05-01,41700,62500,180300,460500,445700,1238700,0.096,0.649,14849000
159,759,2010-04-01,42400,60500,179700,461300,443400,1220700,0.099,0.652,15325000
160,758,2010-03-01,42400,60300,178300,461700,442800,1208300,0.099,0.649,15202000
161,757,2010-02-01,43500,58100,177300,461500,435800,1200300,0.098,0.649,15113000
162,756,2010-01-01,43400,60700,177200,459600,437200,1208100,0.098,0.648,15046000

In [58]:
highway_df = pd.read_csv("CSVCleanUp/Cleaned_Highway_Vehicle_Miles_Traveled.csv")
highway_df.head()

,Unnamed: 0,Index,Date,HVMT_All_Systems,HVMT_Total_Rural,HVMT_Other_Rural,HVMT_Rural_Other_Arterial,HVMT_Rural_Interstate
0,740,875,12/1/2019 0:00,2.740000e+11,8.039500e+10,2.748300e+10,3.125700e+10,2.165400e+10
1,741,874,11/1/2019 0:00,2.600000e+11,7.756300e+10,2.680900e+10,3.030200e+10,2.045200e+10
2,742,873,10/1/2019 0:00,2.840000e+11,8.676500e+10,3.040200e+10,3.395700e+10,2.240600e+10
3,743,872,9/1/2019 0:00,2.720000e+11,8.364200e+10,2.924800e+10,3.291200e+10,2.148200e+10
4,744,871,8/1/2019 0:00,2.870000e+11,9.078700e+10,3.138000e+10,3.521500e+10,2.419200e+10

In [59]:
highway_df = highway_df.drop(['Unnamed: 0'], axis = 1)

In [60]:
highway_df.dtypes

Index                          int64
Date                          object
HVMT_All_Systems             float64
HVMT_Total_Rural             float64
HVMT_Other_Rural             float64
HVMT_Rural_Other_Arterial    float64
HVMT_Rural_Interstate        float64
dtype: object

In [62]:
highway_df[['HVMT_All_Systems','HVMT_Total_Rural', 'HVMT_Other_Rural', 'HVMT_Rural_Other_Arterial', 'HVMT_Rural_Interstate']] = highway_df[['HVMT_All_Systems','HVMT_Total_Rural', 'HVMT_Other_Rural', 'HVMT_Rural_Other_Arterial', 'HVMT_Rural_Interstate']].astype('int64')

In [63]:
highway_df['Date'] = pd.to_datetime(highway_df['Date'])
highway_df['Date']

0    2019-12-01
1    2019-11-01
2    2019-10-01
3    2019-09-01
4    2019-08-01
5    2019-07-01
6    2019-06-01
7    2019-05-01
8    2019-04-01
9    2019-03-01
10   2019-02-01
11   2019-01-01
12   2018-12-01
13   2018-11-01
14   2018-10-01
15   2018-09-01
16   2018-08-01
17   2018-07-01
18   2018-06-01
19   2018-05-01
20   2018-04-01
21   2018-03-01
22   2018-02-01
23   2018-01-01
Name: Date, dtype: datetime64[ns]

In [64]:
highway_df.loc[highway_df['Date']>='2018-1-1']

,Index,Date,HVMT_All_Systems,HVMT_Total_Rural,HVMT_Other_Rural,HVMT_Rural_Other_Arterial,HVMT_Rural_Interstate
0,875,2019-12-01,274000000000,80395000000,27483000000,31257000000,21654000000
1,874,2019-11-01,260000000000,77563000000,26809000000,30302000000,20452000000
2,873,2019-10-01,284000000000,86765000000,30402000000,33957000000,22406000000
3,872,2019-09-01,272000000000,83642000000,29248000000,32912000000,21482000000
4,871,2019-08-01,287000000000,90787000000,31380000000,35215000000,24192000000
5,870,2019-07-01,296000000000,94815000000,32732000000,36666000000,25417000000
6,869,2019-06-01,281000000000,87384000000,30525000000,33858000000,23002000000
7,868,2019-05-01,286000000000,87500000000,30687000000,33645000000,23167000000
8,867,2019-04-01,282000000000,84394000000,30050000000,32269000000,22075000000
9,866,2019-03-01,272000000000,79928000000,27977000000,31012000000,20939000000
10,865,2019-02-01,227000000000,65277000000,22764000000,25662000000,16851000000
11,864,2019-01-01,248000000000,71450000000,25101000000,27615000000,18734000000
12,863,2018-12-01,270000000000,78682000000,27097000000,30583000000,21002000000
13,862,2018-11-01,260000000000,77687000000,26662000000,30277000000,20747000000
14,861,2018-10-01,281000000000,85575000000,29950000000,33499000000,22126000000
15,860,2018-09-01,267000000000,82245000000,28675000000,32284000000,21286000000
16,859,2018-08-01,285000000000,89671000000,31044000000,34782000000,23845000000
17,858,2018-07-01,291000000000,93400000000,32128000000,36127000000,25145000000
18,857,2018-06-01,283000000000,87427000000,30742000000,33817000000,22868000000
19,856,2018-05-01,284000000000,86612000000,30562000000,33288000000,22762000000
20,855,2018-04-01,275000000000,81961000000,29243000000,31251000000,21466000000
21,854,2018-03-01,271000000000,79690000000,28069000000,30867000000,20755000000
22,853,2018-02-01,228000000000,65500000000,22958000000,25682000000,16860000000
23,852,2018-01-01,245000000000,70351000000,24901000000,27072000000,18378000000

In [65]:
pers_spend_df = pd.read_csv("CSVCleanUp/Cleaned_Personal_Spending_on_Transportation.csv")
pers_spend_df.head()

,Unnamed: 0,Index,Date,Transportation_Services,Gas_and_Other_Engergy_Goods,Motor_Vehicles_and_Parts
0,660,660,1/1/2002 0:00,3.370000e+11,4.520000e+11,4.100000e+11
1,663,663,4/1/2002 0:00,3.340000e+11,4.570000e+11,4.090000e+11
2,666,666,7/1/2002 0:00,3.340000e+11,4.570000e+11,4.350000e+11
3,669,669,10/1/2002 0:00,3.340000e+11,4.550000e+11,4.140000e+11
4,672,672,1/1/2003 0:00,3.360000e+11,4.500000e+11,4.110000e+11

In [66]:
pers_spend_df = pers_spend_df.drop(['Unnamed: 0'], axis = 1)

In [67]:
pers_spend_df[['Transportation_Services', 'Gas_and_Other_Engergy_Goods', 'Motor_Vehicles_and_Parts']] = pers_spend_df[['Transportation_Services', 'Gas_and_Other_Engergy_Goods', 'Motor_Vehicles_and_Parts']].astype('int64')

In [68]:
pers_spend_df['Date'] = pd.to_datetime(pers_spend_df['Date'])
pers_spend_df['Date']

0    2002-01-01
1    2002-04-01
2    2002-07-01
3    2002-10-01
4    2003-01-01
        ...
69   2009-01-01
70   2008-10-01
71   2008-07-01
72   2008-04-01
73   2008-01-01
Name: Date, Length: 74, dtype: datetime64[ns]

In [69]:
pers_spend_df.loc[pers_spend_df['Date']>='2010-1-1']

,Index,Date,Transportation_Services,Gas_and_Other_Engergy_Goods,Motor_Vehicles_and_Parts
24,879,2020-04-01,263000000000,346000000000,503000000000
25,876,2020-01-01,415000000000,421000000000,496000000000
26,873,2019-10-01,448000000000,442000000000,539000000000
27,870,2019-07-01,447000000000,445000000000,535000000000
28,867,2019-04-01,440000000000,447000000000,535000000000
29,864,2019-01-01,435000000000,447000000000,521000000000
30,861,2018-10-01,432000000000,447000000000,537000000000
31,858,2018-07-01,433000000000,445000000000,536000000000
32,855,2018-04-01,437000000000,448000000000,536000000000
33,852,2018-01-01,441000000000,448000000000,531000000000
34,849,2017-10-01,432000000000,449000000000,534000000000
35,846,2017-07-01,422000000000,451000000000,515000000000
36,843,2017-04-01,415000000000,453000000000,502000000000
37,840,2017-01-01,411000000000,445000000000,500000000000
38,837,2016-10-01,412000000000,446000000000,505000000000
39,834,2016-07-01,407000000000,451000000000,496000000000
40,831,2016-04-01,401000000000,454000000000,479000000000
41,828,2016-01-01,400000000000,457000000000,475000000000
42,825,2015-10-01,394000000000,450000000000,472000000000
43,822,2015-07-01,389000000000,452000000000,478000000000
44,819,2015-04-01,387000000000,448000000000,478000000000
45,816,2015-01-01,382000000000,450000000000,464000000000
46,813,2014-10-01,379000000000,437000000000,452000000000
47,810,2014-07-01,378000000000,429000000000,445000000000
48,807,2014-04-01,372000000000,426000000000,439000000000
49,804,2014-01-01,369000000000,428000000000,422000000000
50,801,2013-10-01,359000000000,433000000000,414000000000
51,798,2013-07-01,360000000000,430000000000,413000000000
52,795,2013-04-01,357000000000,430000000000,417000000000
53,792,2013-01-01,349000000000,426000000000,417000000000
54,789,2012-10-01,343000000000,418000000000,408000000000
55,786,2012-07-01,343000000000,423000000000,395000000000
56,783,2012-04-01,343000000000,425000000000,391000000000
57,780,2012-01-01,335000000000,422000000000,392000000000
58,777,2011-10-01,339000000000,425000000000,379000000000
59,774,2011-07-01,339000000000,427000000000,362000000000
60,771,2011-04-01,335000000000,426000000000,361000000000
61,768,2011-01-01,326000000000,433000000000,379000000000
62,765,2010-10-01,325000000000,439000000000,382000000000
63,762,2010-07-01,320000000000,441000000000,365000000000
64,759,2010-04-01,318000000000,438000000000,357000000000
65,756,2010-01-01,320000000000,433000000000,337000000000

In [70]:
rail_df = pd.read_csv("CSVCleanUp/Cleaned_Passenger_Rail.csv")
rail_df.head()

,Unnamed: 0,Index,Date,Passengers,Passenger_Miles,Total_Train_Miles,Employee_Hours_Worked,Yard_Switching_Miles
0,336,336,1/1/1975 0:00,0.0,2624696.0,4134425.0,1501878.0,0.0
1,337,337,2/1/1975 0:00,0.0,2275826.0,3600736.0,1371524.0,0.0
2,338,338,3/1/1975 0:00,0.0,2520943.0,4067192.0,1516787.0,0.0
3,339,339,4/1/1975 0:00,0.0,2478477.0,4000157.0,1583115.0,0.0
4,340,340,5/1/1975 0:00,0.0,2561119.0,4050197.0,1544540.0,0.0

In [71]:
rail_df = rail_df.drop(['Unnamed: 0'], axis = 1)

In [72]:
rail_df[['Passengers', 'Passenger_Miles', 'Total_Train_Miles', 'Employee_Hours_Worked', 'Yard_Switching_Miles']] = rail_df[['Passengers', 'Passenger_Miles', 'Total_Train_Miles', 'Employee_Hours_Worked', 'Yard_Switching_Miles']].astype(int)

In [73]:
rail_df['Date'] = pd.to_datetime(rail_df['Date'])
rail_df['Date']

0     1975-01-01
1     1975-02-01
2     1975-03-01
3     1975-04-01
4     1975-05-01
         ...
540   2008-05-01
541   2008-04-01
542   2008-03-01
543   2008-02-01
544   2008-01-01
Name: Date, Length: 545, dtype: datetime64[ns]

In [74]:
rail_df.loc[rail_df['Date']>='2010-1-1']

,Index,Date,Passengers,Passenger_Miles,Total_Train_Miles,Employee_Hours_Worked,Yard_Switching_Miles
396,880,2020-05-01,213983,69098462,2037397,2745323,128937
397,879,2020-04-01,121154,36018048,2070618,2745367,121903
398,878,2020-03-01,1130190,233377315,2997776,3073471,162151
399,877,2020-02-01,2163475,400433113,3124037,2945522,174288
400,876,2020-01-01,2399424,447564878,3505313,3147306,182445
...,...,...,...,...,...,...,...
516,760,2010-05-01,2503651,544408276,3518013,3451013,209347
517,759,2010-04-01,2446113,520013629,3451608,3478591,205893
518,758,2010-03-01,2474908,538675366,3560237,3629837,212974
519,757,2010-02-01,1951901,405905875,3088012,3122066,192744
520,756,2010-01-01,2032892,440854078,3521094,3377882,225554

In [75]:
air_df = pd.read_csv("CSVCleanUp/Cleaned_Airline_Traffic_Air_Carrier_Cargo.csv")
air_df.head()

,Unnamed: 0,Index,Date,Airline_Traffic_Total,Airline_Traffic_International,Airline_Traffic_Domestic,AirCarrierCargo_International_millionsOfRevenueTon-Miles,AirCarrierCargo_Domestic_millionsOfRevenueTon-Miles
0,669,669,10/1/2002 0:00,NaN,NaN,NaN,1.887142e+09,1.458666e+09
1,670,670,11/1/2002 0:00,NaN,NaN,NaN,1.778562e+09,1.296241e+09
2,671,671,12/1/2002 0:00,NaN,NaN,NaN,1.548068e+09,1.262516e+09
3,672,672,1/1/2003 0:00,NaN,NaN,NaN,1.395876e+09,1.177785e+09
4,673,673,2/1/2003 0:00,NaN,NaN,NaN,1.366617e+09,1.079561e+09

In [21]:
air_df = air_df.drop(['Unnamed: 0'], axis = 1)

In [22]:
air_df['Date'] = pd.to_datetime(air_df['Date'])
air_df['Date']

0     2002-10-01
1     2002-11-01
2     2002-12-01
3     2003-01-01
4     2003-02-01
         ...
207   2008-05-01
208   2008-04-01
209   2008-03-01
210   2008-02-01
211   2008-01-01
Name: Date, Length: 212, dtype: datetime64[ns]

In [23]:
air_df.loc[air_df['Date']>='2010-1-1']

,Index,Date,Airline_Traffic_Total,Airline_Traffic_International,Airline_Traffic_Domestic,AirCarrierCargo_International_millionsOfRevenueTon-Miles,AirCarrierCargo_Domestic_millionsOfRevenueTon-Miles
63,880,2020-05-01,8420000.0,190000.0,8240000.0,2.228770e+09,1.583861e+09
64,879,2020-04-01,3010000.0,130000.0,2880000.0,2.025803e+09,1.447281e+09
65,878,2020-03-01,39060000.0,4650000.0,34410000.0,2.165378e+09,1.442358e+09
66,877,2020-02-01,67810000.0,7960000.0,59850000.0,1.781338e+09,1.173055e+09
67,876,2020-01-01,70760000.0,9150000.0,61610000.0,2.041418e+09,1.322461e+09
...,...,...,...,...,...,...,...
183,760,2010-05-01,NaN,NaN,NaN,2.062541e+09,1.061358e+09
184,759,2010-04-01,NaN,NaN,NaN,1.913704e+09,1.076585e+09
185,758,2010-03-01,NaN,NaN,NaN,1.971931e+09,1.085023e+09
186,757,2010-02-01,NaN,NaN,NaN,1.638815e+09,9.260431e+08
187,756,2010-01-01,NaN,NaN,NaN,1.651273e+09,9.773350e+08